In [18]:
#From: https://www.youtube.com/watch?v=vIjXuYRLge8 
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
session = requests.Session()

In [3]:
#Set Headers: https://towardsdatascience.com/web-scraping-with-beautiful-soup-a-use-case-fc1c60c8005d
#Pull headers: https://www.whatismybrowser.com/detect/what-http-headers-is-my-browser-sending 
my_headers = {"User-Agent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/16.1 Safari/605.1.15", 
          "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}

In [4]:
#https://towardsdatascience.com/web-scraping-with-beautiful-soup-a-use-case-fc1c60c8005d
url_to_scrape = 'https://www.redfin.com/zipcode/98102'
response =  session.get(url_to_scrape, headers = my_headers)

In [5]:
html_soup = BeautifulSoup(response.text, 'html.parser')

In [7]:
#Pull all addresses
container = html_soup.find_all(["div"], 
                               class_=lambda x: x == "link-and-anchor")
for lines in container:
    if lines.name == 'div': 
        property_name = lines.text
        print('Address: ', property_name, "\n")
#    if lines.name == 'div':
#        foundation = lines.text
#        print('Foundation name:', foundation)   
#        print('Foundation url:', lines.find_all("a", 
#            href=re.compile("cfc_locations"))[0].get('href'), "\n")

Address:  750 11th Ave E #208, Seattle, WA 98102

Address:  2002 12th Ave E, Seattle, WA 98102

Address:  2331 Fairview Ave E Unit H, Seattle, WA 98102

Address:  Undisclosed Address, Seattle, WA 98102

Address:  622 10th Ave E, Seattle, WA 98102

Address:  1168 Harvard Ave E #6, Seattle, WA 98102

Address:  2350 10th Ave E #213, Seattle, WA 98102

Address:  2228 Yale Ave E #22, Seattle, WA 98102

Address:  2370 Fairview Ave E, Seattle, WA 98102

Address:  233 14th Ave E #106, Seattle, WA 98112

Address:  2211 Federal Ave E, Seattle, WA 98102

Address:  716 Boylston Ave E #7, Seattle, WA 98102

Address:  124 Bellevue Ave E #302, Seattle, WA 98102

Address:  2315 Boylston Ave E, Seattle, WA 98102

Address:  303 Harvard Ave E, Seattle, WA 98102

Address:  422 10th Ave E Unit F, Seattle, WA 98102

Address:  726 Boylston Ave E #2, Seattle, WA 98102

Address:  2802 Fairview Ave E, Seattle, WA 98102

Address:  1020 E Shelby St, Seattle, WA 98102

Address:  950 Federal Ave E, Seattle, WA 98102

Address:  1065 Summit Ave E, Seattle, WA 98102

Address:  2219 Fairview Ave E #11, Seattle, WA 98102

Address:  124 Bellevue Ave E #406, Seattle, WA 98102

Address:  308 E Republican St #412, Seattle, WA 98102

Address:  750 11th Ave E #404, Seattle, WA 98102

Address:  530 Melrose Ave E #305, Seattle, WA 98102

Address:  1009 Summit Ave E, Seattle, WA 98102

Address:  2220 Franklin Ave E Unit B, Seattle, WA 98102

Address:  710 11th Ave E Unit D, Seattle, WA 98102

Address:  750 Belmont Ave E #1, Seattle, WA 98102

Address:  3141 Fairview Ave E #806, Seattle, WA 98102

Address:  2410 Everett Ave E, Seattle, WA 98102

Address:  2037 Boylston Ave E, Seattle, WA 98102

Address:  2818 Broadway Ave E, Seattle, WA 98102

Address:  1017 E Blaine St, Seattle, WA 98102

Address:  905 12th Ave E, Seattle, WA 98102

Address:  2309 10th Ave E Unit D, Seattle, WA 98102

Address:  1625 Federal Ave E, Seattle, WA 98102

Address:  730 Bellevue Ave E #304, Seattle, WA 98102

Address:  321 Boylston Ave E #202, Seattle, WA 98102

In [13]:
#Pull all prices
container2 = html_soup.find_all(["span"], 
                               class_=lambda x: x == "homecardV2Price")
for lines in container2:
    if lines.name == 'span': 
        stats_name = lines.text
        print('Stats: ', stats_name, "\n")

Stats:  $435,000

Stats:  $1,698,000

Stats:  $2,750,000

Stats:  $9,850,000

Stats:  $730,000

Stats:  $2,595,000

Stats:  $600,000

Stats:  $420,000

Stats:  $4,750,000

Stats:  $315,000

Stats:  $1,895,000

Stats:  $1,998,000

Stats:  $685,000

Stats:  $1,399,500

Stats:  $4,995,000

Stats:  $799,000

Stats:  $1,495,000

Stats:  $1,900,000

Stats:  $1,595,000

Stats:  $2,750,000

Stats:  $6,200,000

Stats:  $1,495,000

Stats:  $525,000

Stats:  $365,000

Stats:  $464,888

Stats:  $379,950

Stats:  $1,575,000

Stats:  $999,900

Stats:  $769,950

Stats:  $680,000

Stats:  $395,000

Stats:  $2,595,000

Stats:  $4,950,000

Stats:  $2,150,000

Stats:  $4,190,000

Stats:  $5,975,000

Stats:  $550,000

Stats:  $11,999,000

Stats:  $419,500

Stats:  $399,950

In [31]:
df = pd.DataFrame({'Address': property_name
                   , 'Price': stats_name
                   }, index = [1])
df

    Address     Price
1  $399,950  $399,950